body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.paragraph-container {
    padding: 20px;
    background-color: #f0f0f0;
    border: white 1px solid;
    margin-top: 20px;
    border-radius: 10px;

}

.paragraph-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.paragraph-text p {
    flex: 1;
    padding-right: 20px;
    text-decoration: underline;
    font-size: 15px;

}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.stylee{
    background-color: red;
}

.blind {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding-top: 10px;
    
    
}

.image {
    display: flex;
    gap: 15px;
}

.paragraph-text h3 {
    margin-bottom: 5px;
    /* Adjust this value to reduce space between heading and paragraph */
}

.paragraph-text p {
    margin-top: 5px;
    /* Adjust this value to reduce space between paragraph and SVG */
}
.icon {
width: 17px;
height: 20px;
vertical-align: middle; /* Adjust vertical alignment as needed */
}